{# 继承base.html页面 #}
{% extends "base.html" %}
{% load static %}
{# 写入base.html中定义的标题 #}
{% block title %}
    写文章
{% endblock title %}
{# 写入base.html中定义的context #}
{% block content %}
    {# 写文章表单 #}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                {# 提交文章的表单,action="."指定了表单提交的地址为默认的当前url #}
                <form action="." method="post" enctype="multipart/form-data">
                    {# 有post的地方都需要 #}
                    {% csrf_token %}
                    {# 文章标题图 #}
                    <div class="form-group">
                        <label for="avatar">标题图</label>
                        <input type="file" class="form-control-file" name="avatar" id="avatar">
                    </div>

                    {# 文章标题 #}
                    <div class="form-group">
                        {# 标题 #}
                        <label for="title">文章标题</label>
                        {# 文本框 #}
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                    {# 文章栏目 #}
                    <div class="form-group">
                        <label for="column">栏目</label>
                        <select name="column" id="column" class="form-control col-3">
                            <option value="none">请选择栏目...</option>
                            {% for column in columns %}
                                <option value="{{ column.id }}">{{ column }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {# 文章标签 #}
                    <div class="form-group">
                        <label for="tags">标签</label>
                        <input type="text"
                               class="form-control col-3"
                               id="tags"
                               name="tags">
                    </div>
                    {# 文章的正文 #}
                    <div class="form-group">
                        <label for="body">文章正文</label>
                        {#                        文本区域 #}
                        <textarea name="body" id="body" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    {#                    提交表单 #}
                    <button class="btn btn-primary" type="submit">完成</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
